<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sampleKey" value="sampleValue"/>
    <add key="WhiteListDataSourceItems" value="Server1\instance1"/>
  </appSettings>
  <connectionStrings>
    <add name="SampleLoggingConnectionString" connectionString="Data Source = Server1\instance1;Initial Catalog= SampleLogging_Tests;integrated security =SSPI;"  />
  </connectionStrings>
</configuration>